<mat-card>
  <mat-card-title>{{title}}</mat-card-title>

  <form [formGroup]="reactiveForm" (ngSubmit)="login(reactiveForm.value)">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Username:</mat-label>
        <input matInput id="userName" formControlName="userName">
      </mat-form-field>
    </mat-card-content>
    <br>
    <span style="color:red;"
          *ngIf="userName && userName.invalid && userName.touched">Username is required</span>
    <br>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input matInput id="userPassword" formControlName="userPassword"><br>
      </mat-form-field>
    </mat-card-content>
    <br>
    <span style="color:red;"
          *ngIf="userPassword && userPassword.invalid && userPassword.touched">Password required</span>
    <br>

    <mat-card-content>
      <button mat-button color="primary" [disabled]="reactiveForm.invalid">Login</button>
    </mat-card-content>
  </form>
</mat-card>
