<mat-card>
  <mat-card-title>{{title}}</mat-card-title>

  <form [formGroup]="reactiveForm" (ngSubmit)="sendRegister(reactiveForm.value)">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Username:</mat-label>
        <input matInput id="userName" formControlName="userName">
      </mat-form-field>
    </mat-card-content>
    <br>
    <span style="color:red;"
          *ngIf="userName && userName.invalid && userName.touched">This username is aleready taken</span>
    <br>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>First Name:</mat-label>
        <input matInput id="userFirstName" formControlName="userFirstName"><br>
      </mat-form-field>
    </mat-card-content>
    <br>
    <span style="color:red;" *ngIf="userFirstName && userFirstName.invalid && userFirstName.touched">First name is not valid</span>
    <br>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Surname:</mat-label>
        <input matInput id="userSurname" formControlName="userSurname"><br>
      </mat-form-field>
    </mat-card-content>
    <br>
    <span style="color:red;"
          *ngIf="userSurname && userSurname.invalid && userSurname.touched">Surname is not valid</span>
    <br>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input matInput id="userPassword" formControlName="userPassword"><br>
      </mat-form-field>
    </mat-card-content>
    <br>
    <span style="color:red;"
          *ngIf="userPassword && userPassword.invalid && userPassword.touched">Password is not valid</span>
    <br>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput id="userEmail" formControlName="userEmail"><br>
      </mat-form-field>
    </mat-card-content>
    <br>
    <span style="color:red;" *ngIf="userEmail && userEmail.invalid && userEmail.touched">Email is not valid    </span>
    <br>
    <mat-card-content>
      <button mat-button color="primary" [disabled]="reactiveForm.invalid">Register</button>
    </mat-card-content>
  </form>
</mat-card>


